## Copyright Advanced Micro Devices, Inc.
## SPDX-License-Identifier: BSD-3-Clause
##
## ##############################################################################

{% macro license_link() -%}
    <li><a>2026, Advanced Micro Devices, Inc</a></li>
{%- endmacro -%}
