## Copyright Advanced Micro Devices, Inc.
## SPDX-License-Identifier: BSD-3-Clause
##
## ##############################################################################

{%
set main_doc_link = ("AOCL-FFTZ Documentation Home", "")
%}
